@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/*body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Poppins", sans-serif;
    background-color: #f4f4f4;
} */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.form-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.342);
    width: 430px;
    text-align: center;
    justify-content: center;
}

.form-box h2 {
    font-size: 25px;
    margin: 10px;
    color: #000;
}

.custom-input-group {
    margin-bottom: 15px;
    text-align: left;
}

.custom-input-group label {
    display: block;
    margin: 0px;
    color: #555;
}

.custom-input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.custom-input-group input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.custom-file-button input[type="file"] {
    margin-left: -2px !important;
    margin-bottom: 15px;
}

.custom-file-button label {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    font-family: "Poppins", sans-serif;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
}

.custom-file-button input[type="file"]::-webkit-file-upload-button {
    display: none;
}

.custom-file-button input[type="file"]::file-selector-button {
    display: none;
}

.custom-file-button:hover label {
    background-color: #0056b3;
    cursor: pointer;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-spinner {
    -moz-appearance: textfield;
}
